.ItemCard {
  background-color: lightgray;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  max-width: 60vw;
  max-height: 30vh;
  text-indent: 5px;
  border-radius: 20px;
}

p {
  margin: 1%;
  text-align: left;
}

.itemName {
  font-weight: bold;
}
